body {
    background: #ece9ec;
    background: -webkit-linear-gradient(to right, #817878, #deb1b1), #ece9ec;
    background: linear-gradient(to right, #817878, #deb1b1), #ece9ec;
    font

}
h1 {
    git push origin main
;
   
}