body {
    background: #ece9ec;
    background: -webkit-linear-gradient(to right, #817878, #deb1b1), #ece9ec;
    background: linear-gradient(to right, #817878, #deb1b1), #ece9ec;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color:#333333;
    font-size: 2.5em;
}

h2.perfil {
    color:#231236;
    font-size: 1.5em;

}

.CentraLizar {
    text-align: center;
}
